<link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">


<head>
  <title>Chatbot Project | SDIA & SDSC</title>
</head>
<div id="center-text">
    <h2>Printer ChatBot</h2>
    <p>This chatbot accepts both English and French instructions make sure to give the number of pages. The chatbot will send you the duration if your query is correct.</p>
    <button class="btn-calendar" onclick="window.location.href='/calendar'">Calendar</button>
    <br><br><br>

    <h2>Locking Printer</h2>
    <p>Please fill this form to lock the printer from the starting date time to ending date time.</p>
    <br>
    <form action="/" method="POST" onsubmit="return confirm('Do you really want to lock the printer?');">
      <label for="sdt">Starting Date Time:</label>
      <select name="sd" required>
        <option value="">Please choose a day</option>
        <option value="Mon">Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wed">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
        <option value="Sun">Sunday</option>
      </select>
      <input name="st" type="time" required>
      <br>
      <label for="fname">Ending Date Time:</label>
      <select name="ed" required>
        <option value="">Please choose a day</option>
        <option value="Mon">Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wed">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
        <option value="Sun">Sunday</option>
      </select>
      <input name="et" type="time" required>
      <br>
      <input type="submit" value="Locking Printer">
    </form>

</div>
<div id="body">
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">wechat</i>
    </div>

    <div class="chat-box">
        <div class="chat-box-header">
            ChatBot
            <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs">

            </div><!--chat-log -->
        </div>
        <div class="chat-input">
            <form>
                <input type="text" id="chat-input" placeholder="Send a message..."/>
                <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
            </form>
        </div>
    </div>
</div>


<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='./jquery.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='./bootstrap.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='./main.js') }}">
</script>
